# Modules

In [57]:
import pandas as pd

# Variables

In [58]:
ds_EU27_emissions = '02.Transformed data/01.EU27_emissions.csv'
ds_EU27_passengers = '02.Transformed data/02.EU27_passengers.csv'

In [59]:
out_EU27_emissions_proCapita = '02.Transformed data/03.EU27_emissions_proCapita.csv'

# Data load

In [60]:
df_EU27_emissions=pd.read_csv(ds_EU27_emissions,header=0, dtype='unicode')

In [61]:
cols = df_EU27_emissions.columns
for col in cols:
    if col != 'Year':
        df_EU27_emissions[col] = df_EU27_emissions[col].astype(float)

df_EU27_emissions['Year'] = df_EU27_emissions['Year'].astype("int")

In [62]:
df_EU27_passengers=pd.read_csv(ds_EU27_passengers,header=0, dtype='unicode')

In [63]:
df_EU27_passengers['Year'] = df_EU27_passengers['Year'].astype("int")
df_EU27_passengers['Passengers'] = df_EU27_passengers['Passengers'].astype("int")

In [64]:
df_EU27_emissions.head()

,Year,As,BC,CO,Cd,Cr,Cu,Hg,Indeno,NH3,...,rolling_Pb,rolling_SOx,rolling_Se,rolling_TSP,rolling_Zn,rolling_benzo(a),rolling_benzo(b),rolling_benzo(k),rolling_dioxin,rolling_total PAH
0,1990,0.001071,2.298696,514.841454,0.003707,0.044906,0.137487,0.013896,0.016692,0.772263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,0.000896,2.193775,453.177145,0.003175,0.044566,0.136758,0.013338,0.008351,0.757485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,0.000853,2.215153,518.329998,0.003330,0.048017,0.146645,0.013321,0.008160,0.816351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,0.001054,2.199278,620.187543,0.003154,0.049412,0.164067,0.013583,0.010088,0.859435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,0.001050,2.223296,535.043975,0.003470,0.052866,0.174008,0.013986,0.012146,0.893203,...,113.137431,17.319537,0.033363,4.618215,1.078894,0.006957,0.049501,0.006007,0.015186,0.074248

In [65]:
df_EU27_passengers.head()

   Year  Passengers
0  2013   746100398
1  2014   781202599
2  2015   819698948
3  2016   871695782
4  2017   938854476

# Data merging and pro passenger emissions calculation

In [66]:
df_EU27_emissions_proCapita = pd.merge(df_EU27_emissions, df_EU27_passengers, on='Year')

In [67]:
df_EU27_emissions_proCapita.head()

,Year,As,BC,CO,Cd,Cr,Cu,Hg,Indeno,NH3,...,rolling_SOx,rolling_Se,rolling_TSP,rolling_Zn,rolling_benzo(a),rolling_benzo(b),rolling_benzo(k),rolling_dioxin,rolling_total PAH,Passengers
0,2013,0.001801,2.836719,364.475786,0.006276,0.099624,0.314904,0.026633,0.021797,1.492885,...,29.371693,0.078312,6.982557,1.976620,0.010049,0.074717,0.008856,0.018870,0.119183,746100398
1,2014,0.001924,2.889520,376.917044,0.006413,0.103386,0.327122,0.027854,0.022052,1.441987,...,29.538186,0.078362,6.981074,1.965985,0.010288,0.076795,0.009076,0.019125,0.121888,781202599
2,2015,0.002085,2.975933,396.300747,0.006603,0.108518,0.340239,0.029558,0.022226,1.441437,...,29.814795,0.078378,7.016448,1.983866,0.010554,0.079035,0.009317,0.019406,0.124853,819698948
3,2016,0.002200,3.162520,460.140767,0.006992,0.117223,0.360775,0.031828,0.023578,1.550625,...,30.316861,0.078820,7.121988,2.040586,0.010831,0.081364,0.009569,0.019631,0.128198,871695782
4,2017,0.002518,3.442813,490.893461,0.007487,0.126854,0.379647,0.035526,0.025404,1.693848,...,31.294943,0.080476,7.360529,2.194271,0.011444,0.086241,0.010122,0.020073,0.135291,938854476

In [68]:
#df_EU27_emissions_proCapita['As'] = df_EU27_emissions_proCapita['As']/df_EU27_emissions_proCapita['Passengers']

In [69]:
# Iterate over column names
for column in df_EU27_emissions_proCapita:
    if column != 'Year' and column != 'Passengers':
        df_EU27_emissions_proCapita[column] = df_EU27_emissions_proCapita[column]/df_EU27_emissions_proCapita['Passengers']

In [70]:
df_EU27_emissions_proCapita.head()

,Year,As,BC,CO,Cd,Cr,Cu,Hg,Indeno,NH3,...,rolling_SOx,rolling_Se,rolling_TSP,rolling_Zn,rolling_benzo(a),rolling_benzo(b),rolling_benzo(k),rolling_dioxin,rolling_total PAH,Passengers
0,2013,2.414496e-12,3.802061e-09,4.885077e-07,8.412158e-12,1.335260e-10,4.220666e-10,3.569671e-11,2.921390e-11,2.000917e-09,...,3.936694e-08,1.049616e-10,9.358737e-09,2.649267e-09,1.346829e-11,1.001439e-10,1.186995e-11,2.529089e-11,1.597410e-10,746100398
1,2014,2.462904e-12,3.698810e-09,4.824831e-07,8.208500e-12,1.323421e-10,4.187416e-10,3.565564e-11,2.822783e-11,1.845855e-09,...,3.781117e-08,1.003090e-10,8.936316e-09,2.516613e-09,1.316908e-11,9.830349e-11,1.161783e-11,2.448107e-11,1.560256e-10,781202599
2,2015,2.543898e-12,3.630519e-09,4.834711e-07,8.055789e-12,1.323876e-10,4.150785e-10,3.605954e-11,2.711445e-11,1.758495e-09,...,3.637286e-08,9.561842e-11,8.559787e-09,2.420237e-09,1.287561e-11,9.641895e-11,1.136639e-11,2.367449e-11,1.523156e-10,819698948
3,2016,2.524276e-12,3.628008e-09,5.278685e-07,8.021697e-12,1.344768e-10,4.138774e-10,3.651299e-11,2.704840e-11,1.778860e-09,...,3.477918e-08,9.042149e-11,8.170268e-09,2.340938e-09,1.242566e-11,9.333944e-11,1.097748e-11,2.251995e-11,1.470670e-10,871695782
4,2017,2.681608e-12,3.667035e-09,5.228643e-07,7.974932e-12,1.351159e-10,4.043731e-10,3.784010e-11,2.705861e-11,1.804165e-09,...,3.333311e-08,8.571755e-11,7.839904e-09,2.337179e-09,1.218948e-11,9.185765e-11,1.078092e-11,2.137989e-11,1.441019e-10,938854476

In [71]:
df_EU27_emissions_proCapita = df_EU27_emissions_proCapita.drop('Passengers', axis=1)

# Exporting

In [72]:
df_EU27_emissions_proCapita.to_csv(out_EU27_emissions_proCapita, index=False)