# Modules

In [1]:
import pandas as pd

# Variables

In [2]:
ds_EU27_emissions = '02.Transformed data/01.EU27_emissions.csv'
ds_EU27_passengers = '02.Transformed data/02.EU27_passengers.csv'

In [3]:
out_EU27_emissions_proCapita = '02.Transformed data/03.EU27_emissions_proCapita.csv'

# Data load

In [4]:
df_EU27_emissions=pd.read_csv(ds_EU27_emissions,header=0, dtype='unicode')

In [5]:
cols = df_EU27_emissions.columns
for col in cols:
    if col != 'Year':
        df_EU27_emissions[col] = df_EU27_emissions[col].astype(float)

df_EU27_emissions['Year'] = df_EU27_emissions['Year'].astype("int")

In [6]:
df_EU27_passengers=pd.read_csv(ds_EU27_passengers,header=0, dtype='unicode')

In [7]:
df_EU27_passengers['Year'] = df_EU27_passengers['Year'].astype("int")
df_EU27_passengers['Passengers'] = df_EU27_passengers['Passengers'].astype("int")

In [8]:
df_EU27_emissions.head()

,Year,As,BC,CO,Cd,Cr,Cu,Hg,Indeno,NH3,...,rolling_Pb,rolling_SOx,rolling_Se,rolling_TSP,rolling_Zn,rolling_benzo(a),rolling_benzo(b),rolling_benzo(k),rolling_dioxin,rolling_total PAH
0,1990,0.001071,2.298696,514.841454,0.003707,0.044906,0.137487,0.013896,0.016692,0.772263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,0.000896,2.193775,453.177145,0.003175,0.044566,0.136758,0.013338,0.008351,0.757485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,0.000853,2.215153,518.329998,0.003330,0.048017,0.146645,0.013321,0.008160,0.816351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,0.001054,2.199278,620.187543,0.003154,0.049412,0.164067,0.013583,0.010088,0.859435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,0.001050,2.223296,535.043975,0.003470,0.052866,0.174008,0.013986,0.012146,0.893203,...,113.137431,17.319537,0.033363,4.618215,1.078894,0.006957,0.049501,0.006007,0.015186,0.074248

In [9]:
df_EU27_passengers.head()

   Year  Passengers
0  2013   746100398
1  2014   781202599
2  2015   819698948
3  2016   871695782
4  2017   938854476

# Data merging and pro passenger emissions calculation

In [10]:
df_EU27_emissions_proCapita = pd.merge(df_EU27_emissions, df_EU27_passengers, on='Year')

In [11]:
df_EU27_emissions_proCapita.head()

,Year,As,BC,CO,Cd,Cr,Cu,Hg,Indeno,NH3,...,rolling_SOx,rolling_Se,rolling_TSP,rolling_Zn,rolling_benzo(a),rolling_benzo(b),rolling_benzo(k),rolling_dioxin,rolling_total PAH,Passengers
0,2013,0.001801,2.836719,364.475786,0.006276,0.099624,0.314904,0.026633,0.021797,1.492885,...,29.371693,0.078312,6.982557,1.976620,0.010049,0.074717,0.008856,0.018870,0.119183,746100398
1,2014,0.001924,2.889520,376.917044,0.006413,0.103386,0.327122,0.027854,0.022052,1.441987,...,29.538186,0.078362,6.981074,1.965985,0.010288,0.076795,0.009076,0.019125,0.121888,781202599
2,2015,0.002085,2.975933,396.300747,0.006603,0.108518,0.340239,0.029558,0.022226,1.441437,...,29.814795,0.078378,7.016448,1.983866,0.010554,0.079035,0.009317,0.019406,0.124853,819698948
3,2016,0.002200,3.162520,460.140767,0.006992,0.117223,0.360775,0.031828,0.023578,1.550625,...,30.316861,0.078820,7.121988,2.040586,0.010831,0.081364,0.009569,0.019631,0.128198,871695782
4,2017,0.002518,3.442813,490.893461,0.007487,0.126854,0.379647,0.035526,0.025404,1.693848,...,31.294943,0.080476,7.360529,2.194271,0.011444,0.086241,0.010122,0.020073,0.135291,938854476

In [12]:
#df_EU27_emissions_proCapita['As'] = df_EU27_emissions_proCapita['As']/df_EU27_emissions_proCapita['Passengers']

In [13]:
# Iterate over column names
for column in df_EU27_emissions_proCapita:
    if column != 'Year' and column != 'Passengers':
        df_EU27_emissions_proCapita[column] = 1000000*df_EU27_emissions_proCapita[column]/df_EU27_emissions_proCapita['Passengers']

In [14]:
df_EU27_emissions_proCapita.head()

,Year,As,BC,CO,Cd,Cr,Cu,Hg,Indeno,NH3,...,rolling_SOx,rolling_Se,rolling_TSP,rolling_Zn,rolling_benzo(a),rolling_benzo(b),rolling_benzo(k),rolling_dioxin,rolling_total PAH,Passengers
0,2013,0.000002,0.003802,0.488508,0.000008,0.000134,0.000422,0.000036,0.000029,0.002001,...,0.039367,0.000105,0.009359,0.002649,0.000013,0.000100,0.000012,0.000025,0.000160,746100398
1,2014,0.000002,0.003699,0.482483,0.000008,0.000132,0.000419,0.000036,0.000028,0.001846,...,0.037811,0.000100,0.008936,0.002517,0.000013,0.000098,0.000012,0.000024,0.000156,781202599
2,2015,0.000003,0.003631,0.483471,0.000008,0.000132,0.000415,0.000036,0.000027,0.001758,...,0.036373,0.000096,0.008560,0.002420,0.000013,0.000096,0.000011,0.000024,0.000152,819698948
3,2016,0.000003,0.003628,0.527869,0.000008,0.000134,0.000414,0.000037,0.000027,0.001779,...,0.034779,0.000090,0.008170,0.002341,0.000012,0.000093,0.000011,0.000023,0.000147,871695782
4,2017,0.000003,0.003667,0.522864,0.000008,0.000135,0.000404,0.000038,0.000027,0.001804,...,0.033333,0.000086,0.007840,0.002337,0.000012,0.000092,0.000011,0.000021,0.000144,938854476

In [15]:
df_EU27_emissions_proCapita = df_EU27_emissions_proCapita.drop('Passengers', axis=1)

# Exporting

In [16]:
df_EU27_emissions_proCapita.to_csv(out_EU27_emissions_proCapita, index=False)