# Modules

In [1]:
import pandas as pd

# Variables

In [2]:
dir_VFE = '01.Data/Vertical flight efficiency/Vertical_Flight_Efficiency_cdo_cco.xlsx'
out_VFE = '02.Transformed data/12.VFE.csv'
out_VFE_climb_National = '02.Transformed data/12.1.VFE_climb_National.csv'
out_VFE_climb_Airport = '02.Transformed data/12.2.VFE_climb_Airport.csv'
out_VFE_descent_National = '02.Transformed data/12.3.VFE_descent_National.csv'
out_VFE_descent_Airport = '02.Transformed data/12.4.VFE_descent_Airport.csv'

# Load data

In [3]:
df_VFE = pd.read_excel(dir_VFE, engine='openpyxl', sheet_name='DATA')

In [4]:
df_VFE['YEAR_STR'] = df_VFE['YEAR'].astype(str)
df_VFE['MONTH_STR'] = df_VFE['MONTH_NUM'].astype(str)
df_VFE['MONTH_ZFL'] = df_VFE['MONTH_STR'].str.zfill(2)
df_VFE["PERIOD_ID"] = df_VFE["YEAR_STR"] + df_VFE["MONTH_ZFL"]
df_VFE = df_VFE.drop(columns=['YEAR_STR', 'MONTH_STR', 'MONTH_ZFL'])

In [5]:
df_VFE.head()

,YEAR,MONTH_NUM,MONTH_MON,APT_ICAO,APT_NAME,STATE_NAME,NBR_FLIGHTS_DESCENT,TOT_DIST_LEVEL_NM_DESCENT,TOT_DIST_LEVEL_NM_DESCENT_BELOW_7000,TOT_TIME_LEVEL_SECONDS_DESCENT,...,TOT_DIST_LEVEL_NM_CLIMB_BELOW_10000,TOT_TIME_LEVEL_SECONDS_CLIMB,TOT_TIME_LEVEL_SECONDS_CLIMB_BELOW_10000,MEDIAN_CCO_ALT,NBR_CCO_FLIGHTS,NBR_CCO_FLIGHTS_BELOW_10000,TOT_DELTA_CO2_KG_CLIMB,TOT_DELTA_CO2_KG_CLIMB_BELOW_10000,Airport Name,PERIOD_ID
0,2015,1,JAN,EBAW,Antwerpen Deurne,Belgium,343,4148.460184,2223.595073,73600,...,261.146196,16327.0,7707.0,17000.000000,262.0,308.0,559.502401,130.283198,Antwerp (EBAW),201501
1,2015,1,JAN,EBBE,Beauvechain,Belgium,7,169.688987,169.688987,4780,...,37.022418,1140.0,1140.0,6000.000000,5.0,5.0,0.000000,0.000000,Beauvechain (EBBE),201501
2,2015,1,JAN,EBBL,Kleine Brogel,Belgium,7,54.574931,20.047403,580,...,0.000000,440.0,0.0,24038.333333,4.0,6.0,0.000000,0.000000,Kleine Brogel (EBBL),201501
3,2015,1,JAN,EBBR,Brussels,Belgium,8207,150501.189129,24019.820435,1705480,...,532.468365,254281.0,7240.0,34000.000000,6213.0,8080.0,56477.198959,3380.171219,Brussels (EBBR),201501
4,2015,1,JAN,EBCI,Charleroi,Belgium,1684,34298.796333,4193.082197,379940,...,636.848862,91653.0,10808.0,37000.000000,1093.0,1553.0,16666.046934,5045.674466,Charleroi (EBCI),201501

## Climb

In [6]:
df_VFE_climb_National = df_VFE.groupby(['YEAR','MONTH_NUM','PERIOD_ID','STATE_NAME']).agg({'NBR_FLIGHTS_CLIMB':'sum','TOT_DIST_LEVEL_NM_CLIMB':'sum'})
df_VFE_climb_National['AVG_DIST_CLIMB'] = df_VFE_climb_National['TOT_DIST_LEVEL_NM_CLIMB'] / df_VFE_climb_National['NBR_FLIGHTS_CLIMB']
df_VFE_climb_National.head()

                                  NBR_FLIGHTS_CLIMB  TOT_DIST_LEVEL_NM_CLIMB  \
PERIOD_ID STATE_NAME
201501    Albania                             684.0               610.709480
          Austria                           12258.0             26663.312339
          Belgium                           11563.0             45152.321504
          Bosnia and Herzegovina              448.0               527.996864
          Bulgaria                           1933.0              4090.549298

                                  AVG_DIST_CLIMB
PERIOD_ID STATE_NAME
201501    Albania                       0.892850
          Austria                       2.175176
          Belgium                       3.904897
          Bosnia and Herzegovina        1.178564
          Bulgaria                      2.116166

In [7]:
df_VFE_climb_Airport = df_VFE.groupby(['YEAR','MONTH_NUM','PERIOD_ID','APT_ICAO']).agg({'NBR_FLIGHTS_CLIMB':'sum','TOT_DIST_LEVEL_NM_CLIMB':'sum'})
df_VFE_climb_Airport['AVG_DIST_CLIMB'] = df_VFE_climb_Airport['TOT_DIST_LEVEL_NM_CLIMB'] / df_VFE_climb_Airport['NBR_FLIGHTS_CLIMB']
df_VFE_climb_Airport.head()

                    NBR_FLIGHTS_CLIMB  TOT_DIST_LEVEL_NM_CLIMB  AVG_DIST_CLIMB
PERIOD_ID APT_ICAO
201501    EBAW                  331.0              1001.292582        3.025053
          EBBE                    7.0                37.022418        5.288917
          EBBL                    6.0                45.650893        7.608482
          EBBR                 8220.0             30402.684644        3.698623
          EBCI                 1675.0             10355.749480        6.182537

## Descent

In [8]:
df_VFE_descent_National = df_VFE.groupby(['YEAR','MONTH_NUM','PERIOD_ID','STATE_NAME']).agg({'NBR_FLIGHTS_DESCENT':'sum','TOT_DIST_LEVEL_NM_DESCENT':'sum'})
df_VFE_descent_National['AVG_DIST_DESCENT'] = df_VFE_descent_National['TOT_DIST_LEVEL_NM_DESCENT'] / df_VFE_descent_National['NBR_FLIGHTS_DESCENT']
df_VFE_descent_National.head()

                                  NBR_FLIGHTS_DESCENT  \
PERIOD_ID STATE_NAME
201501    Albania                                 688
          Austria                               12342
          Belgium                               11656
          Bosnia and Herzegovina                  372
          Bulgaria                               1945

                                  TOT_DIST_LEVEL_NM_DESCENT  AVG_DIST_DESCENT
PERIOD_ID STATE_NAME
201501    Albania                               3196.122677          4.645527
          Austria                             122579.082345          9.931865
          Belgium                             220328.812654         18.902609
          Bosnia and Herzegovina                1845.173705          4.960144
          Bulgaria                             14163.746987          7.282132

In [9]:
df_VFE_descent_Airport = df_VFE.groupby(['YEAR','MONTH_NUM','PERIOD_ID','APT_ICAO']).agg({'NBR_FLIGHTS_DESCENT':'sum','TOT_DIST_LEVEL_NM_DESCENT':'sum'})
df_VFE_descent_Airport['AVG_DIST_DESCENT'] = df_VFE_descent_Airport['TOT_DIST_LEVEL_NM_DESCENT'] / df_VFE_descent_Airport['NBR_FLIGHTS_DESCENT']
df_VFE_descent_Airport.head()

                    NBR_FLIGHTS_DESCENT  TOT_DIST_LEVEL_NM_DESCENT  \
PERIOD_ID APT_ICAO
201501    EBAW                      343                4148.460184
          EBBE                        7                 169.688987
          EBBL                        7                  54.574931
          EBBR                     8207              150501.189129
          EBCI                     1684               34298.796333

                    AVG_DIST_DESCENT
PERIOD_ID APT_ICAO
201501    EBAW             12.094636
          EBBE             24.241284
          EBBL              7.796419
          EBBR             18.338149
          EBCI             20.367456

# Export

In [10]:
df_VFE.to_csv(out_VFE, index=False)
df_VFE_climb_National.reset_index().to_csv(out_VFE_climb_National, index=False)
df_VFE_climb_Airport.reset_index().to_csv(out_VFE_climb_Airport, index=False)
df_VFE_descent_National.reset_index().to_csv(out_VFE_descent_National, index=False)
df_VFE_descent_Airport.reset_index().to_csv(out_VFE_descent_Airport, index=False)